.all-skills-style {
  position: relative;
  bottom: 20px;
  background: #222;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #555;
  border-radius: 10px;
  padding: 4px 4px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out;
}
.fire-type {
  color: red;
}
.ice-type {
  color: rgb(0, 152, 202);
}
.thunder-type {
  color: yellow;
}
.magic-type {
  color: blue;
}
.earth-type {
  color: brown;
}
.wind-type {
  color: green;
}
.heal-type {
  color: rgb(0, 255, 0);
}
.mana-type {
  color: rgb(9, 9, 126);
}
.all-skills-style:hover {
  background: #444;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  transform: scale(1.05);
}

.skill-magic-description {
  display: none;
  position: absolute;
  top: -90px;
  left: 30px;
  border: 1px solid;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 13px;
  padding: 4px;
}
.all-skills-style:hover + .skill-magic-description {
  display: block;
}
.disabled-button {
  background-color: #dcdcdc;
  color: #8a8a8a;
  pointer-events: none;
  opacity: 0.6;
}
.disabled-button:hover {
  cursor: not-allowed;
}
