.all-skills-style {
  font-size: 15px;
  border: 1px solid;
  position: relative;
  bottom: 20px;
}
.fire-type {
  color: red;
}
.ice-type {
  color: rgb(0, 152, 202);
}
.thunder-type {
  color: yellow;
}
.magic-type {
  color: blue;
}
.earth-type {
  color: brown;
}
.wind-type {
  color: green;
}
.heal-type {
  color: rgb(0, 255, 0);
}
.mana-type {
  color: rgb(9, 9, 126);
}
.all-skills-style:hover {
  background-color: rgb(167, 159, 159);
  box-shadow: 2px 2px 2px;
}

.skill-magic-description {
  display: none;
  position: absolute;
  top: -90px;
  left: 30px;
  border: 1px solid;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 13px;
  padding: 4px;
}
.all-skills-style:hover + .skill-magic-description {
  display: block;
}
